<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Jaguatere Commerce</title>
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="main-header__container">
                <img src="assets/logo_empresa.svg" alt="Jaguarete Commerce">
                <span class="bi bi-menu-button-wide-fill"></span>
            </div>
            <div class="main-header__container">
                <a class="main-header__link" href=""><i class="bi bi-person-fill"></i> Login</a>
            </div>
            <div class="main-header__container">
                <a href="" class="main-header__link"><i class="bi bi-triangle-fill"></i> Registrarse</a>
            </div>
            <div class="main-heater__container">
                <a href="" class="main-header__link__cart"><i class="bi bi-cart-fill"></i></i> Carrito</a>
            </div>
            <div class="main-header__search"><input type="search" name="" id="">
                <spam class="bi bi-search"></spam>
            </div>
        </div>

    </header>
</body>

</html>